body {
    font-family: sans-serif;
    background: white;
}
header{
    
    border-left: 20px dotted rgb(243, 117, 20);
    padding-bottom: 20px;
    margin-bottom: 0px;
    
}
header h1{
    text-align: left;
    padding-top: 100px;
   text-align: center;
    margin-left: 20px;
    font-family: arial;
    font-weight: bold;
    font-size: 36px;
    color: black;
    }

nav{
    text-align: left;
}
nav a{
text-decoration: none;
padding: 20px;
margin-left: 10px;
color: rgb(243, 117, 20);
font-weight: bold;
}
main{
    background-color:rgb(243, 117, 20);
    padding-bottom: 40px ;
   
}
main h2{
    margin-right: 200px;
    padding-top: 100px;
    margin-bottom: 40px;
    color: white;
    margin-left: 30px;
}
main h1{
    margin-left: 30px; 
    padding-top: 100px; 
    font-size: 42px;
}
main h3{
    margin-left: 30px; 
    color: rgba(90, 15, 211, 0.692);
    font-size: 28px;
    font-weight: 100;
}
li{
    text-align: left;
}
details{
    margin-left: 30px;
}
details p{
    color:rgb(0, 255, 251);
    font-weight: bold;
    background-color: rgb(88, 163, 58);
}
main img{
    margin-top: 100px;
}
footer{
    background-color: rgb(251, 255, 0);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
    text-align:center;
    font-size: 14px;
}
footer a{
    text-decoration: none;
    color: green;
}
#mark{
    color: white;
    margin-right: 300px;
  }
  .im{
    margin-left: 10px; 
    list-style: url("http://pngimg.com/uploads/pizza/small/pizza_PNG44093.png") 2px;
 }