body {
    font-family: sans-serif;
    background:lightblue;
}
header{
    background-color: royalblue;
    border-left: 20px double lightblue;
    padding-bottom: 20px;
    margin-bottom: 0px;
    background-repeat: no-repeat;
   
   
}
header h1{
    text-align: left;
    padding-top: 100px;
    margin-right: 200px;
    margin-left: 10px;
    font-family: arial;
    font-weight: bold;
    font-size: 36px;
    color:rgb(255, 251, 233);
    }
h1 img{
    margin-left: 70%;
}
nav{
    text-align: left;
}
nav a{
text-decoration: none;
padding: 20px;
margin-left: 10px;
color: rgb(36, 34, 32);
font-weight: bold;
}
main{
    background-color:royalblue; 
   margin-left: 10px;
   padding-bottom: 40px;
}

main h2{
    margin-right: 200px;
    padding-top: 100px;
    margin-bottom: 40px;
    color: rgb(36, 34, 32);
    margin-left: 30px;
}
main h1{
    margin-left: 30px; 
    padding-top: 100px; 
    font-size: 42px;
}
main h3{
    margin-left: 30px; 
    color: black;
    font-size: 28px;
    font-weight: 100;
}
li{
    text-align: left;
}
details{
    margin-left: 30px;
}
details p{
    color:rgb(12, 11, 5);
    font-weight: bold;
    background-color: white;
}
main img{
    margin-top: 100px;
}
footer{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
    text-align:center;
    font-size: 14px;
}
footer a{
    text-decoration: none;
    color: royalblue;
}
#mark{
    color: white;
    margin-right: 300px;
  }
  .im{
    margin-left: 10px; }
    