body {
    font-family: sans-serif;
    background:rgb(255, 72, 0);
}
header{
    background-color: rgb(255, 72, 0);
    padding-bottom: 600px;    margin-bottom: 0px;
    background-image: url(https://cdn5.vedomosti.ru/crop/image/2015/79/19vocj/original-1ngk.jpg?height=609&width=1082);
    background-repeat: no-repeat;
background-size: 100%;
}
header h1{
    text-align: center;
    margin-left: 10px;
    font-family: arial;
    font-weight: bold;
    font-size: 36px;
    color:rgb(0, 0, 0);
    }
h1 img{
    margin-left: 60%;
}
nav{
    text-align: left;
   margin-top: 30px;
}
nav a{
text-decoration: none;
padding: 20px;
margin-left: 10px;
color: rgb(36, 34, 32);
font-weight: bold;

}
main{
    background-color:rgb(255, 72, 0); 
    background-image: url();
    
}
main h2{
    margin-right: 200px;
    padding-top: 100px;
    margin-bottom: 40px;
    color: rgb(36, 34, 32);
    margin-left: 30px;
}
main h1{
    text-align:center; 
    padding-top: 40px; 
    padding-bottom: 40px;
    font-size: 42px;
    background-color: rgba(255, 255, 255, 0.527);
}
main h3{
    margin-left: 30px; 
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: 100;
}
main p{
    text-align: center;
}
li{
    text-align: left;
}
details{
    margin-left: 30px;
}
details p{
    color:rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-top: 10px;
}
main img{
    margin-top: 100px;
}
footer{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
    text-align:center;
    font-size: 14px;
}
footer a{
    text-decoration: none;
    color: green;
}
#mark{
    color: white;
    margin-right: 300px;
  }
  .im{
    margin-left: 190px; 
    list-style: url(BMW.png);
 }

